* {
    box-sizing: border-box;
}

/*===== Base Elements =====*/

body {
    margin: 0;
    padding: 0;
}



/*===== Overall Layout =====*/

.wrapper {
    display: flex;
    flex-direction: column;
}

/*===== Header =====*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    background-color: #333;
}

.logo {
    color: #fff;
    text-decoration: none;
}

#header-nav {
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-nav a {
    height: 17px;
}

#header-nav form {
    display: flex;
}

.search-button, .account-button {
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

/*===== Slider =====*/

.slider-container {
    position: relative;
    height: 85vh;
    background-color: tomato;
}

.slider-info {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

/*===== Movie Container =====*/

.movie-container {
    width: 100%;
}

.movie-container ul {
    display: flex;
    padding: 0;
}

.movie-container li {
    list-style: none;
    width: 20%;
}

.movie-container img {
    width: 100%;
}