* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/*===== Base Elements =====*/

html {
    max-width: 100vw;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 1em;
}

/*===== UI Elements =====*/

.btn {
    width: 150px;
    height: 40px;
    font-size: 1.0625em;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: #3498db;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

.error-message {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    font-size: 1.1em;
    text-align: center;
}

.error-message a {
    font-weight: bold;
    cursor: pointer;
    color: #3498db;
}

/*===== Login Form =====*/

.login-form {
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #bdc3c7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.login-form p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.25em;
    color: #fff;
}

.login-form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    margin: 5px;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: none;
}

.login-form button {
    margin: 5px;
    width: 100%;
    height: 30px;
    border: none;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
}

.login-form a {
    margin-top: 10px;
    color: #fff;
}

/*===== Overall Layout =====*/

.wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 205px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1920px;
}

/*===== Header =====*/

.main-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 40px;
    background-color: #333;
}

.logo {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#header-nav {
    position: absolute;
    right: 5px;
    width: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-nav a {
    height: 21px;
}

#header-nav form {
    display: flex;
}

.account-button {
    position: relative;
    width: 17px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    cursor: pointer;
}

.search-button {
    height: 21px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    background: none;
    border: none;
}

.search-button img {
    width: 17px;
    height: 17px;
}

.search-button {
    cursor: pointer;
}

.search-input {
    width: calc(95vw - 44px);
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: none;
}

/*===== Main Slider =====*/

.slider-container {
    height: 30vh;
    overflow: hidden;
}

#main-slider {
    display: flex;
    height: 100%;
    transition: all 0.5s;
}

.slide {
    position: relative;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    height: 100%;
    background-color: #000;
    opacity: 0.3;
}

.slider-info {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
}

.title {
    margin: 2px 0;
    font-size: 1.25em;
    font-weight: bold;
}

.rating {
    margin: 2px 0 6px 0;
    font-size: 1.0625em;
}

/*===== Slider =====*/

.slider {
    width: 95vw;
    overflow-x: auto;
}

.slider li {
    margin: 0 10px;
    list-style: none;
    min-width: 130px;
    max-width: 185px;
    cursor: pointer;
}

.slider li img {
    width: 100%;
}

.slider li a {
    display: block;
}

/*===== Movie Container =====*/

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.movie-container ul {
    display: flex;
    margin-top: 7px;
    margin-bottom: 40px;
    padding: 0;
    max-width: 1230px; /*1430px;*/
}

#popular span, #upcoming span, #now_playing span {
    padding-left: 10px;
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#popular, #upcoming, #now_playing {
    position: relative;
    margin-bottom: 40px;
}

.view-all {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 30px;
    font-size: 1.0625em;
    text-transform: uppercase;
    border: none;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
    font-weight: bold;
}

.view-all:hover {
    background-color: #2980b9;
}

/*===== View All & Search page =====*/

.movie-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.movie-list h2 {
    align-self: flex-start;
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.movie-list ul {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 0;
}

.movie-list li {
    width: calc(50% - 20px);
    margin: 10px;
    list-style: none;
    cursor: pointer;
}

.movie-list li img {
    width: 100%;
}

.no-results {
    display: none;
    font-size: 1.1em;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

/*===== Movie Page =====*/

.movie-page-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.blur-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
}

.info-container {
    margin-bottom: 0;
    padding: 0 15px;
}

.movie-title {
    display: inline-block;
    padding-right: 10px;
    margin-bottom: 5px;
    font-size: 1.9375em;
    color: #fff;
}

.release-date {
    color: white;
    font-size: 1.7em;
}

.movie-rating {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #fff;
}

.overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 15px 30px 15px;
    line-height: 1.5;
    background-color: #fff;
}

.overview p {
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: left;
    color: #000;
}

.movie-poster {
    margin-top: 20px;
    max-width: 40vw;
    max-height: 600px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

/*===== Footer =====*/

footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 205px;
    padding: 20px 10px;
    background-color: #333;
}

footer a {
    color: #b2bec3;
    text-decoration: none;
    cursor: pointer;
}

footer p {
    font-weight: bold;
    color: #b2bec3;
    margin-top: 0;
    margin-bottom: 10px;
}

footer ul {
    padding: 0;
    margin-top: 0;
    margin-right: 20px;
}

footer li {
    font-size: 0.9em;
    line-height: 1.4em;
    list-style: none;
}

.footer-container {
    display: flex;
    align-items: flex-start;
}

.made-by {
    color: #fff;
    background-color: #636e72;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 10px;
    width: 213px;
}

.made-by:hover { 
    background-color: #57606f;
}

.tmdb-logo {
    width: 100px;
}

/*===== Media Queries =====*/

@media screen and (min-width: 768px) {

    /* UI Elements */

    .btn {
        width: 200px;
        height: 72px;
        font-size: 1.5em;
    }

    /* Login modal */
    .login-form {
        right: 60px;
        top: 30px;
    }

    /* Homepage */

    .slider-container {
        min-height: 450px;
    }

    footer {
        padding: 30px 90px;
    }

    .made-by {
        align-self: flex-start;
        margin-top: 0;
    }
    
    .footer-container {
        width: 100%;
        justify-content: space-between;
    }

    .slider-info {
        bottom: 100px;
        left: 100px;
    }

    .title {
        margin: 2px 0;
        font-size: 2.25em;
    }
    
    .rating {
        margin: 2px 0 6px 0;
        font-size: 2.0625em;
    }

    .movie-list li {
        width: calc(25% - 20px);
    }

    /* Movie Page */

    .info-container {
        text-align: center;
    }

    .overview {
        min-width: 768px;
        min-height: 312px;
        padding: 20px 120px 35px 120px;
    }

    .movie-poster {
        max-width: 30vw;
    }
}

@media screen and (min-width: 1024px) {

    /* Homepage */

    .slider {
        width: 90vw;
    }

    .slider-info {
        bottom: 100px;
        left: 130px;
    }

     /* Movie Page */

     .blur-box {
        height: calc(100vh - 40px);
     }

    .col {
        height: 100%;
    }

    .overview {
        min-width: 1024px;
        height: calc(100% - 145px);
        padding: 20px 200px 35px 200px;
    }

    .overview p {
        font-size: 1.25em;
    }

    .movie-poster {
        margin-top: 60px;
        max-width: 45vw;
    }

    .movie-rating {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1025px) {

    /* Homepage */

    .slider-container {
        min-height: 600px;
    }

    .slider-info {
        bottom: 100px;
        left: 400px;
    }

    /* View All page */

    .movie-list {
        width: 90vw;
        max-width: 1230px;
        align-self: center;
    }

    .movie-list ul {
        width: 100%;
    }

    .movie-list li {
        width: calc(16.6% - 20px);
    }

    /* Movie Page */

    .blur-box {
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .col {
        order: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 550px;
        max-width: 40vw;
        margin-right: 50px;
    }
    
    .info-container {
        margin-bottom: 30px;
        padding: 0 15px 0 0;
        text-align: left;
        border-bottom: 2px solid gray;
    }
    
    .movie-title {
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .release-date {
        color: white;
        font-size: 1.7em;
    }
    
    .movie-rating {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.2em;
        color: #fff;
    }

    .overview {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 416px;
        max-width: 550px;
        height: 300px;
        padding: 0;
        background-color: transparent;
    }
    
    .overview p {
        margin-top: 0;
        max-width: 500px;
        font-size: 1.0625em;
        color: #fff;
    }  
    
    .movie-poster {
        order: 1;
        margin: 0;
        max-width: 400px;
    }
}